html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 61px;
  /* or 95% */
  text-align: center;
  color: #542F17;
}

h2 {
  font-family: Dancing Script;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 30px;
}


nav{
 background: url(../img/fundonav.svg) no-repeat;
 display: flex;

}

.navmenu{
display: flex;
justify-content: space-around;
}

.bgnav{
justify-content: space-evenly;
}

li{
    list-style: none;
}
.textcolorlink {
    color: #FD92BC;
}

.headerbackgound {
    background: url(../img/img_banners/bg.header.svg);
}

.imglogo{
    width: 200px;
    height: 200px;
}

/* Meninas, usem assim quando precisarem especificar as fontes diferentes 
font-family: 'Dancing Script', cursive; */
